.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f8f9fa; 
  
  
  .login-form {
    width: 100%;
    max-width: 400px; 
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-logo {
    width: 120px; 
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%; 
    padding: 0.5rem;
  }
}