.category-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
    position: relative;
}

.scroll-button {
    background-color: #e9ecef; 
    border: none; 
    font-size: 24px; 
    cursor: pointer; 
    padding: 10px; 
    margin: 0 10px; 
    z-index: 1; 
    border-radius: 50%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.category-scroll {
    display: flex;
    overflow: hidden; 
    white-space: nowrap; 
    scroll-behavior: smooth; 
    padding: 10px; 
    background-color: #e9ecef; 
    border-radius: 10px; 
    flex-grow: 1; 
    position: relative;
}

.category-item {
    font-size: 20px; 
    margin: 0 15px; 
    cursor: pointer; 
    padding: 10px 15px; 
    transition: color 0.3s, text-decoration 0.3s; 
}

.category-item.selected {
    color: gold;
    text-decoration: underline; 
}

